[Unit]
Description=Redis database application

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c \
	"docker history redis:latest >/dev/null || \
	docker pull redis:latest"

ExecStart=/usr/bin/docker run --rm \
    --name %p \
    -p 6379:6379 \
    redis

ExecStop=/usr/bin/docker stop %p

SyslogIdentifier=%p

[X-Fleet]
Conflicts=%n
